<div
class="space-battle-container"
(mouseenter)="onEvent($event)"
(mouseleave)="onEvent($event)"
(mousemove)="coordinates($event)"
on-click="onEvent($event)"
on-dblclick="onEvent($event)"
on-contextmenu="onEvent($event)"
>

  <!-- Space ship -->
  <img
  class="space-ship"
  [src]="img_ship"
  width="6%"
  [ngStyle]="{left: ship_position}"
  >

  <!-- Fire -->
  <img
  class="shoot_roket"
  [src]="img_roket"
  width="2%"
  [ngStyle]="{left: roket.start, bottom: run_fly(roket) }"
  *ngFor='let roket of rokets_shoot'
  >

  <!-- Chimeras -->
  <img
  class="chimeras"
  [src]="img_chimera"
  width="8%"
  [ngStyle]="{left: chimera.position.x, top: chimera.position.y }"
  *ngFor='let chimera of chimeras'
  >

<audio controls autoplay loop>
  <!--<source src="assets/games/musics/AMemoryAway.ogg" type="audio/ogg"-->
  <source src="assets/games/musics/Before_Humans__Official__Psycho_One.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>


</div>

<!--

  *ngFor='let value of values; trackBy: index;'
  [title]=roket.number

-->
