.space-battle-container {
  position: absolute;
  //padding: 4rem 0 0 0;
  margin-top: 4rem;
  width: 100%;
  height: 100%;
  cursor: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}


// space-ship
.space-ship {
  //background-image: url(assets/games/space-battle/space-ship.jpg);
  position: absolute;
  bottom: 5rem;
}

// Player
audio {
  opacity: .3;
  &:hover {
    opacity: .7;
  }
}

// Gun
.shoot_roket {
  position: absolute;
  //bottom: 7.5rem;
  margin-left: 2%;
}

// Chimera
.chimeras {
  position: absolute;
  opacity: .5;
  transition: 1s ease-in-out;
}
