<audio autoplay loop>
  <!--<source src="assets/games/musics/AMemoryAway.ogg" type="audio/ogg"-->
  <source src="assets/games/musics/Arrient_X_ArtJumper---Lost_Souls.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<div
  class="home-container"
  (mouseenter)="onEvent($event)"
  (mouseleave)="onEvent($event)"
  (mousemove)="coordinates($event)"
  on-click="onEvent($event)"
  on-dblclick="onEvent($event)"
  on-contextmenu="onEvent($event)"
  >
    <div class="sheet">

      <div class="head">
          <!--img
            src="../assets/img/I.png"
            (mouseenter)="photo_onEvent($event)"
            (mouseleave)="photo_onEvent($event)"
            (mousemove)="photo_coordinates($event)"
            on-click="photo_onEvent($event)"
            on-dblclick="photo_onEvent($event)"
            on-contextmenu="photo_onEvent($event)"
            [ngStyle]="{ 'transform': photo_transform, 'filter': photo_philter  }"
            style="-webkit-filter: invert(100%); /* Safari */"
          -->
            <img
            src="../assets/img/I.png"
            on-click="photo_onEvent($event)"
            on-dblclick="photo_onEvent($event)"
            on-contextmenu="photo_onEvent($event)"
            [ngStyle]="{ 'transform': photo_transform, 'filter': photo_philter  }"
            style="-webkit-filter: invert(100%); /* Safari */"
            >

          <h2 class="title"> I'm web-developer: Fullstack JavaScript, Web-Design, Web-3D </h2>
          <hr>
      </div>

      <h1> PERSONAL INFORMATION</h1>

      <div @explainerAnim>
        <div class="an-1">Dyachuk Vitaliy</div>
        <div class="an-1">Khmelnitsky (Ukraine)</div>
        <div class="an-1"><b>Sex &nbsp;</b>Male | <b>Date of birth &nbsp;</b>03/06/1983 | <b>Nationality &nbsp;</b>Ukrainian</div>
      </div>

      <h1> EDUCATION AND TRAINING </h1>
      <p>
        <b>2001–2005</b>
        Higher education
      </p>

      <h1>WORK EXPERIENCE </h1>


      <div id="container" [@listAnimation]="myjsondata_length">
        <div id="list" class="unit" *ngFor='let unit of myjsondata'>
          <b>{{unit.years}} </b>{{unit.title}}
          <span class="gray">...{{unit.company}}</span>
        </div>
      </div>


      <h1> PERSONAL SKILLS </h1>
      <p>
          <b>Mother tongue(s)</b> Ukrainian, Russian
          <br>
          <br>

          <b>Other language(s) </b> English
          <br>
          ▪ Reading - Free
          <br>
          ▪ listening (clear conversation) - 75-85%
          <br>
          ▪ Lexicon - 4000-5000 words
          <br>
          ▪ Spoken interaction - middle
          <br>
          ▪ Spoken production - middle
          <br>
          (Fast progress)
          <br>
          <br>

          <b>Job-related skills </b>
          <br>
          ▪ AngularJS - 2 years
          <br>
          ▪ NodeJS - 1 year
          <br>
          ▪ HTML/ CSS/ I began to use in 2006. Total experience  5 years
          <br>
          ▪ Jade/ Sass -  2 years
          <br>
          ▪ JavaScript - Total experience  4 years
          <br>
          ▪ CoffeScript(LiveScript) - 1 year
          <br>
          ▪ TypeScript - 4 month
          <br>
          ▪ C++ - 1 year
          <br>
          ▪ ActionScript - 1 year
          <br>
          ▪ Java - 2 month
          <br>
          ▪ PHP — Rarely used to make changes to WordPress and Jumla and other CMS. Total experience 0.5 years
          <br>
          ▪ MySQL — Total experience 0.5 years
          <br>
          ▪ MongoDB - 2 year (current)
          <br>
          <br>

          <!-- More details-->
          <b>More details</b>
          <br>
          ▪ WebRTC - Streaming API based on the current browser (the same principle that is running Skype)
          <br>
          ▪ Working with the recognition function of the API and speech synthesis.
          <br>
          ▪ Using the browser-based File-API
          <br>
          ▪ Building architecture based protocol sockets
          <br>
          ▪ Crossdomain application architecture (creating a sustainable system located on different servers and operating as a single unit)
          <br>
          ▪ Messaging communication between frames
          <br>
          <br>

          <b>Frameworks:</b>
          <br>
          ▪  AngularJS - 2year
          <br>
          ▪  AngularJS 2 - 4 month
          <br>
          <br>

          <b>Server Administration:</b>
          <br>
          ▪ VPS + NodeJS - 1year
          <br>
          ▪ Ubuntu 14, 16
          <br>
          <br>

          <b>Work width:</b>
          <br>
          ▪ Linux 14, 14
          <br>
          ▪ MacOS
          <br>
          ▪ Windows: 95, 98, XP, 7, 10
          <br>
          ▪ DOS
          <br>
          <br>

          <b>Graphics:</b>
          <br>
          ▪ Photoshop: +11 year
          <br>
          ▪ Adobe Illustrator: +9year
          <br>
          ▪ 3DSMax : +6year
          <br>
          ▪ CorelDrow: +4year
          <br>
          <br>

          <b>Intensive practice during study</b>
          <br>
          ▪  Paskal 3.0 - 7.0 - 3year
          <br>
          ▪  Assembler - 8 month
          <br>
          ▪  C++ 1 year
          <br>
          <br>

          <b>Many scattered experience:</b>
          <br>
          ▪ Various CMS, programs.
          <br>
          ▪ User experience - 20 years (Mainly for the development, design, training)
          <br>
          <br>

          <b>Other experience:</b>
          <br>
          ▪ Team lead
          <br>
          ▪ Self-management projects
          <br>
          ▪ Extensive experience of self-organization
          <br>
          ▪ The organizational work
          <br>
          ▪ Teaching
          <br>
          ▪ Studied psychology - 18years
          <br>
          ▪ Many years of studying and pondering: social systems, forms of social interaction, infrastructure systems
          <br>
          <br>

          <b>Learn and interested :</b>
          <br>
          ▪ Neural Network / Artificial Intelligence / Big Data / Python
          <br>
          ▪ VR, Web-VR, Learning Technologies
          <br>
          ▪ Unity3d
          <br>
          <br>

          <b style="color: red">Works:</b>
          <br>
          <a href="http://www.adventurebucketlist.com/learnmore/">www.adventurebucketlist.com/learnmore/ (Teamwork)</a>
          <br>
          <a href="https://www.jopwell.com/">inter tools for jopwell.com (Teamwork)</a>
          <br>
          <a href="http://www.nemportal.dk/frontpage.php">/nemportal.dk/ Send og modtag elektroniske fakturaer (Teamwork)</a>
          <br>
          <a href="http://officient.dk/">/officient.dk/ Send og modtag elektroniske fakturaer (Teamwork) /in progress/</a>
          <br>
          <a href="http://officient.com/">/officient.com/ Simplify Your Accounts Payable [main page] (Teamwork) /in progress/</a>
          <br>
          <a href="http://northstar-limos.squarespace.com">northstar-limos.squarespace.com</a>
          <br>
          <a href="http://rozvivalka.xyz">rozvivalka.xyz</a>
          <br>
          <a href="https://www.skladovka.ua/">skladovka.ua</a>
          <br>
          <a href="https://ide.c9.io/spiriturban/miprosco">www.miprosco.com (code)</a>
          <br>
          <a href="https://ide.c9.io/spiriturban/rest-ex4">Social network - backend Node.js  (code)</a>
          <br>
          <br>
          and other ...
          <br>
          <br>

          <b>Work on parts for:</b>
          <br>
          <a href="http://paleoyums.com/">paleoyums.com</a>
          <br>
          <a href="http://writtent.com/"> writtent.com</a>
          <br>
          <br>

          <b>Designs:</b>
          <br>
          <a href="http://www.behance.net/spirit_urban">www.behance.net/spirit_urban </a>
          <br>
          <br>

          <b>Progress Log:</b>
          <br>
          <a href="http://dyachuk-progress-log.blogspot.com/">My blog with  my professional skills in time. My studies thoughts and inferences</a>

          <br>
          <br>
          <br>
          <br>

      </p>
    </div>
</div>
